/* A CSS stylesheet to make grammar checker test result xml files readable in
 * browsers.
 */

#results {
    padding: 0.2em;
    display: table;
    border-spacing: 0 0.25em;
    border-collapse: separate;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: left;
    background-color: #fff;
    clear: both;
    width: 100%;
    table-layout: fixed;
}

#orig, #ref {
    min-width: 10em;
    width: 13em;
    max-width: 16em;
}

#leven {
    width: 3.4em;
}

#runs {
    width: 3em;
}

td, th {
    vertical-align: top;
}

td {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin-top: 2px;
    margin-bottom: 2px;
}

.error0, .error20, .error40 {
    background-color: #d5842c ;
}

.error1, .error21, .error41 {
    background-color: #00aa00 ;
}

.error2, .error22, .error42 {
    background-color: #aaaa00 ;
}

.error3, .error23, .error43 {
    background-color: #1de21d ;
}

.error4, .error24, .error44 {
    background-color: #aaff00 ;
}

.error5, .error25, .error45 {
    background-color: #aa557f ;
}

.error6, .error26, .error46 {
    background-color: #00aa7f ;
}

.error7, .error27, .error47 {
    background-color: #aaaa7f ;
}

.error8, .error28, .error48 {
    background-color: #00ff7f ;
}

.error9, .error29, .error49 {
    background-color: #aaff7f ;
}

.error10, .error30, .error50 {
    background-color: #aa55ff ;
}

.error11, .error31, .error51 {
    background-color: #00aaff ;
}

.error12, .error32, .error52 {
    background-color: #aaaaff ;
}

.error13, .error33, .error53 {
    background-color: #00ffff ;
}

.error14, .error34, .error54 {
    background-color: #aaffff ;
}

.error15, .error35, .error55 {
    background-color: #ff5500 ;
}

.error16, .error36, .error56 {
    background-color: #55aa00 ;
}

.error17, .error37, .error57 {
    background-color: #ffaa00 ;
}

.error18, .error38, .error58 {
    background-color: #55ff00 ;
}

.error19, .error39, .error59 {
    background-color: #ffff00 ;
}

.true_negative {
    background-color: #aaffff;
}

.false_negative {
    background-color: #ff0000;
}

.true_positive_0 {
    background-color: #ffaaff;
}


.true_positive_1 {
    background-color: #1fcba0;
}

.true_positive_2 {
    background-color: #20cb68;
}

.true_positive_3 {
    background-color: #21cb49;
}

.true_positive_4 {
    background-color: #2acb22;
}

.true_positive_5 {
    background-color: #4fcb22;
}

.true_positive_6 {
    background-color: #6ecb22;
}

.true_positive_7 {
    background-color: #8acb22;
}

.true_positive_8 {
    background-color: #a4cb24;
}

.true_positive_9 {
    background-color: #b5cb25;
}

.true_positive_10 {
    background-color: #c9cb26;
}

.true_positive_11 {
    background-color: #cbb826;
}

.true_positive_12 {
    background-color: #cbaa26;
}

.true_positive_13 {
    background-color: #cb9822;
}

.true_positive_14 {
    background-color: #cb7b20;
}

.true_positive_15 {
    background-color: #cb7122;
}

.true_positive_16 {
    background-color: #cb6923;
}

.true_positive_17 {
    background-color: #cb5a22;
}

.true_positive_18 {
    background-color: #cb5c37;
}

.true_positive_19 {
    background-color: #cb8449;
}

.true_positive_20 {
    background-color: #cb8850;
}

.false_positive {
    background-color: #c45bcb;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1.2em, auto);
    min-height: 0;
    min-width: 0;
}

.grid-item, .ErrorSentence, .Corrections, .Suggestions {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin: 0.2em ;
    padding: 0.2em ;
    min-width: 0;
    word-wrap: break-word;
}

.ErrorSentence, .Corrections, .Suggestions {
    background-color: #ddd ;
}

.grid-item ul {
    margin: 1px ;
    padding-left: 1.2em;
}
